<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexers.converter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hexers.converter.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.hexers.converter.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>

        <!-- New -->
        <activity
            android:name="com.hexers.converter.CentimeterToInch"
            android:label="@string/title_activity_cent_to_inch">
        </activity>
        <activity
            android:name="com.hexers.converter.InchToCentimeter"
            android:label="@string/title_activity_inch_to_cent">
        </activity>
        <activity
            android:name="com.hexers.converter.KiloToMile"
            android:label="@string/title_activity_kilo_to_mile">
        </activity>
        <activity
            android:name="com.hexers.converter.MileToKilo"
            android:label="@string/title_activity_mile_to_kilo">
        </activity>
    </application>

</manifest>